node_modules
.svelte-kit
.vscode
.cursor
.git
.github
.storybook
_.log
.env
.env._
!.env.example
!.env.test
README.md
docs/
e2e/
stories/
playwright.config.ts
.prettierignore
.prettierrc
.eslintrc\*
eslint.config.js
components.json
opencode.json
.npmrc
